<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- main 글꼴 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet">
    <!-- css -->
    <!-- 초기화 -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- header -->
    <link rel="stylesheet" href="/css/header.css">
    <!-- container -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div id="header">
        <div class="h1">
            <div class="h1_center">
                <img class="h1_log" src="img/logo.png" />
                <ul class="h1_gnb">
                    <li><a href="#">로펌소개</a></li>
                    <li><a href="#">변호사 소개</a></li>
                    <li><a href="#">온라인 상담</a></li>
                    <li><a href="#">오시는길</a></li>
                </ul>
                <ul class="h1_gnb">
                    <li><a href="#">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="c1">
            <div class="c1_center">
                <h2 class="c1_t1 one">찾고 계시는 해결책</h2>
                <h2 class="c1_t1 two">바로 여기, 김앤파트너스에 있습니다.</h2>
                <p class="c1_t2">결과로 증명하는 법무법인 김앤파트너스</p>
            </div>
        </div>
        <div class="c2"></div>
        <div class="c3"></div>
        <div class="c4"></div>
        <div class="c5"></div>
    </div>
</body>
</html>